/* Custom Prop */
:root {
  /* palette */
  --navbar-bg-color: black;
  --player-bg-color: #282828;
  --text-spoty-color: #6c6f74;
  --body-bg-color: #141922;
  --upgrade-bg-color: #080b12;
  --text-primary-color: white;
  --bar-color: #adff2f;
  /* layout */

  --navbar-width: 50px;
  --navbar-expanded-width: 300px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-primary-color);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* utils */

.container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* debug */

.debug {
  min-height: 80px;
  background-color: #888;
  padding: 2rem;
}

/* TOP */

#app-top {
  height: calc(100vh - 90px);
  display: flex;
}

/* Navbar */
#app-navbar {
  width: var(--navbar-width);
  background-color: var(--navbar-bg-color);
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo-spoty {
  align-self: center;
  padding: 40px;
  width: 250px;
}
.green-bar-left {
  border-left: 3px solid var(--bar-color);
  width: 25px;
  height: 30px;
  position: absolute;
  margin-bottom: 15px;
}
.home,
.search,
.library {
  width: 50px;
  padding-left: 15px;
  padding-right: 5px;
  padding-bottom: 15px;
}
.text-home,
.text-search,
.text-library {
  display: flex;
  align-items: center;
  padding-left: 5px;
  cursor: pointer;
  color: var(--text-spoty-color);
}
.title-playlist {
  padding-left: 20px;
}
.fa-square-plus {
  font-size: 45px;
  padding: 10px;
  cursor: pointer;
}
.new-playlist {
  color: var(--text-spoty-color);
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}
.playlist-name {
  color: var(--text-spoty-color);
  padding: 15px;
  cursor: pointer;
}
.install-app {
  display: flex;
  align-items: center;
  margin-top: 60px;
  padding-left: 5px;
  cursor: pointer;
}

.download {
  width: 45px;
  padding: 10px;
  width: 40px;
  cursor: pointer;
}
.line {
  border: 1px solid var(--text-spoty-color);
  width: 255px;
  margin-left: 20px;
}

.profile {
  display: flex;
  align-items: center;
}
.profile p {
  padding: 10px;
  cursor: pointer;
}
.profile-img {
  width: 35px;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 60%;
  background-color: var(--text-spoty-color);
}
/* Main */
#app-main {
  flex-grow: 1;
  overflow: auto;
}

#app-top-bar {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  left: 0;
}
.upgrade-button {
  margin-top: 35px;
  margin-left: 84%;
  width: 240px;
  padding: 15px;
  border-radius: 30px;
  background: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

#main-content {
  padding-top: 5px;
}
.list-content {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.content-p {
  padding: 10px;
  color: var(--text-spoty-color);
  cursor: pointer;
}
.green-lower-bar {
  border-bottom: 3px solid var(--bar-color);
  display: block;
  width: 35px;
  margin: 0 auto;
  padding-top: 3px;
}
.rp {
  padding-left: 45px;
  padding-top: 30px;
}
.row {
  display: flex;
  padding: 40px;
}
.col {
  padding: 10px;
}
.col img {
  width: 250px;
}
.hm,
.sub {
  text-align: center;
  padding: 5px;
}
.sub {
  color: var(--text-spoty-color);
  padding: 2px;
}
.st {
  width: 220px;
  text-align: center;
  padding: 5px;
}
.create-for {
}
.create-text {
  padding-left: 45px;
  padding-top: 30px;
}
.create-for p {
  color: var(--text-spoty-color);
  font-weight: bold;
}
.artist p {
  color: var(--text-spoty-color);
  font-weight: bold;
}
.rounded {
  border-radius: 50%;
}
/* Footer */
#app-player {
  background-color: var(--player-bg-color);
  height: 90px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.song p {
  font-weight: bold;
  padding-left: 10px;
  font-size: small;
}
.song {
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-played {
  width: 60px;
}
.fav-folder {
  padding: 25px;
  color: var(--text-spoty-color);
  cursor: pointer;
}
.fa-heart {
  padding-right: 10px;
}
.color-grey {
  color: var(--text-spoty-color);
}
.fa-shuffle,
.fa-backward-step,
.fa-circle-play,
.fa-forward-step,
.fa-rotate-right {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}
.progress-song-played {
  display: flex;
  align-items: center;
}
.play-button {
  display: flex;
  justify-content: center;
}

.progress-song-bar {
  border: 2px solid var(--text-spoty-color);
  width: 85px;
  height: 0;
  border-radius: 10px;
  cursor: pointer;
}
.progress-song-black-bar {
  border: 2px solid var(--body-bg-color);
  width: 250px;
  height: 0;
  border-radius: 10px;
  cursor: pointer;
}
.minutes {
  padding: 10px;
  font-size: 12px;
  font-weight: bolder;
}
.fa-bars,
.fa-tv,
.fa-volume-high {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}
.volume-bar {
  display: flex;
  align-items: center;
}
.progress-volume-bar {
  border: 2px solid var(--text-spoty-color);
  width: 40px;
  height: 0;
  border-radius: 10px;
  cursor: pointer;
}
.progress-volume-black-bar {
  border: 2px solid var(--body-bg-color);
  width: 60px;
  height: 0;
  border-radius: 10px;
}

/* MEDIA */

@media all and (min-width: 768px) {
  #app-navbar {
    width: var(--navbar-expanded-width);
    background-color: var(--navbar-bg-color);
  }
}
